body {
    width: 1280px;
    height: 1626px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-link {
    font-family: 'Montserrat';
    color: #ff0000;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.7px;
    font-weight: bold;
    text-decoration: none;
    padding: 30px 30px;
}

.content-img {
    display: block;
    height: 789px
}

.section-title {
    display: flex;
    justify-content: flex-start;
    padding: 48px 0px 38px 253px;
}

.title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 3.3px;
    color: #373737;
    text-transform: uppercase
}

.section-paragraph-link {
    display: flex;
    justify-content: center;
    display: inline-block;
    padding: 0px 67.5px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 26px;
    color: #373737;
    text-align: center;
}

.paragraph-2 {
    padding: 28px 0px 66px;  
}

.link {
    background-color: #ff0000;
    color: #ffff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 18px 43px;
    border-radius: 4px;
}

.footer-content {
    display: flex;
    justify-content: flex-end;
    margin: 99px 105px 29px 713px;
    font-family: 'Montserrat';
    color: #373737;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.4px;
}